
<div class="clearfix"></div>
<div class="alert alert-block">
	<ol>
		<li>
			Go to <a href="https://manage.dev.live.com/ApplicationOverview.aspx" target="_blank">https://manage.dev.live.com/ApplicationOverview.aspx</a> and create a new application.<br/>
			- Redirect domain is <?= root_url('/', true) ?><br/>
			- Leave Mobile client app set to no.
		</li>
		<li>Save and copy and paste the created Client ID and Client secret into this setup page.</li>
	</ol>
	<!--<a title="Hide this hint" href="#" class="close" onclick="return hide_tip('social_descs_google', this)">Close</a>-->
</div>
