<div class="clearfix"></div>
<div class="alert alert-block">
	<ol>
		<li>
			Go to <a href="http://www.flickr.com/services/apps/create" target="_blank">http://www.flickr.com/services/apps/create</a> and click Request an API Key.<br/>
			- Pick commercial or non-commercial depending on your circumstances<br/>
			- App name can be your site name and enter anything into the description field
		</li>
		<li>Click submit and copy and paste the created Key and Secret into this setup page.</li>
	</ol>
	<!--<a title="Hide this hint" href="#" class="close" onclick="return hide_tip('social_descs_google', this)">Close</a>-->
</div>
