<li>
	<div class="hint bottom-margin-form">
		<ol>
			<li>Go to <a href="https://www.facebook.com/developers/" target="_blank">https://www.facebook.com/developers/</a> and create a new application.</li>
			<li>Enter your application name (the name of your site will do). Leave App Namespace blank and Web Hosting unchecked. Click continue</li>
			<li>Enter the captcha and click Continue</li>
			<li>Put "<?= root_url('/') ?>" as your App Domain</li>
			<li>Check Website URL and enter the following url:<br/>
				<?= Social_Manager::get_provider('facebook')->get_callback_url() ?>
			</li>
			<li>Once you have Saved Changes, copy and paste the created App ID and App Secret into this setup page.</li>
		</ol>
		<!--<a title="Hide this hint" href="#" class="close" onclick="return hide_tip('social_descs_google', this)">Close</a>-->
	</div>
</li>