
<div class="clearfix"></div>
<div class="alert alert-block">
	<ol>
		<li>
			Go to <a href="https://www.linkedin.com/secure/developer?newapp=" target="_blank">https://www.linkedin.com/secure/developer?newapp=</a> to create a new application.<br/>
			- Enter the relevant information<br/>
			- App name can be your site name, enter anything into the description field<br/>
			- Website URL is <?= root_url('/', true) ?><br/>
			- OAuth accept and cancel redirect URL are<br/>
			  <?= Social_Manager::get_provider('linkedin')->get_callback_url() ?>
		</li>
		<li>Click Add Application and copy and paste the created API Key and Secret Key into this setup page.</li>
	</ol>
	<!--<a title="Hide this hint" href="#" class="close" onclick="return hide_tip('social_descs_google', this)">Close</a>-->
</div>
