
<div class="clearfix"></div>
<div class="alert alert-block">
	<ol>
		<li>
			Go to <a href="https://www.dropbox.com/developers/apps" target="_blank">https://www.dropbox.com/developers/apps</a> and create a new application.<br/>
			- App Type is Core API<br/>
			- App name can be your site name, enter anything into the description field<br/>
			- Leave the App Folder radio selected.
		</li>
		<li>Click create and copy and paste the created App Key and App Secret into this setup page.</li>
	</ol>
	<!--<a title="Hide this hint" href="#" class="close" onclick="return hide_tip('social_descs_google', this)">Close</a>-->
</div>
